body {
    background-color: #000;
    color: #fff;
    font-family: "Tiny5", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: "Tiny5", sans-serif;
    margin-top: 20px;
    border-top: 1px solid #444;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.title {
    font-family: "Tiny5", sans-serif;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 24px;
}

.subtitle {
    font-family: "Tiny5", sans-serif;
    font-size: 32px;
    text-align: center;
}

.project_title {
    font-family: "Tiny5", sans-serif;
    text-decoration: underline;
    font-size: 32px;
    text-align: center;
    margin-top: 96px;
}

.project_container {
    display: block;
    width: 50%;
    margin: 24px auto;
    margin-top: 48px;
    text-align: left; /* <-- Add this */
    padding-left: 24px;
}

.project_item {
    font-family: "Tiny5", sans-serif;
    font-size: 24px;
    text-align: left; /* <-- Change from center */
    margin-top: 24px;
    list-style-type: decimal;
}

.project_description {
    font-family: "Tiny5", sans-serif;
    text-align: left; /* <-- Change from center */
}

.document_title {
    font-family: "Tiny5", sans-serif;
    font-size: 32px;
    text-align: center;
}

.document_content {
    font-family: "Tiny5", sans-serif;
    font-size: 24px;
    text-align: left;
}

.document_container {
    width: 50%;
    margin: 24px auto;
    margin-top: 48px;
    text-align: left; /* <-- Add this */
    padding-left: 24px;
}

.home_link {
    font-size: 24px;
    width: 50%;
    margin: 24px auto;
    margin-top: 48px;
    text-align: left; /* <-- Add this */
    padding-left: 24px;

}